<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css"/>
    <title>Excel loader</title>
</head>
<body>
<p>Для загрузки документа нажмите на кнопку</p>


<form enctype="multipart/form-data" method="post">
    <p><input type="file" name="file" accept=".xls,.xlsx">
        <input type="submit" value="Отправить"></p>
</form>


</body>
</html>